@use '../../style/buttons.module' as buttons;

#footer-container {
  height: 100%;
  display: flex;
  flex-direction: column;
}

#footer {
  width: 100%;
  height: 8rem;
  bottom: 0;

  * {
    flex: 1;
  }
}

#footer-text {
  text-align: center;
}

#privacy-poliy-link {
  @include buttons.neutral-text-button
}