@import '../../style/buttons.module';

.project-date,
.project-title {
  margin-top: 1rem;
  margin-bottom: 0.5rem;
}

.project-link-container {
  margin-top: 0rem;
}

.project-link {
  margin-top: 0.5rem;
  margin-right: 1rem;

  a {
    @include neutral-text-button;
  }
}
