@use './colors.module' as colors;
@use './common.module' as common;

@mixin icon-align {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: fit-content;
}

@mixin primary-text-button {
  color: colors.$primary-300;
  opacity: 0.75;
  @include common.transition(color 300ms linear, opacity 300ms linear);
  @include icon-align;

  &:hover {
    color: colors.$primary-200;
  }
}

@mixin accent-text-button {
  color: colors.$accent-400;
  opacity: 0.75;
  @include common.transition(color 300ms linear, opacity 300ms linear);
  @include icon-align;

  &:hover {
    color: colors.$accent-200;
  }
}


@mixin neutral-text-button {
  color: colors.$neutral-200;
  opacity: 0.75;
  @include common.transition(color 300ms linear, opacity 300ms linear);
  @include icon-align;

  &:hover {
    color: colors.$neutral-100;
    opacity: 1;
  }
}


@mixin primary-button {
  min-height: 3rem;
  padding: 0rem 1.5rem;
  border-radius: 1.5rem;

  text-decoration: none;
  color: colors.$neutral-100;
  background-color: rgba(colors.$primary-100, 0.25);

  @include common.transition(background-color 300ms);
  @include icon-align;

  &:hover {
    background-color: rgba(colors.$primary-100, 0.5);
  }
}