@import './colors.module';
@import './common.module';

@mixin icon-align {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: fit-content;
}

@mixin primary-text-button {
  color: $primary-300;
  opacity: 0.75;
  @include transition(color 300ms linear, opacity 300ms linear);
  @include icon-align;

  &:hover {
    color: $primary-200;
  }
}

@mixin accent-text-button {
  color: $accent-400;
  opacity: 0.75;
  @include transition(color 300ms linear, opacity 300ms linear);
  @include icon-align;

  &:hover {
    color: $accent-200;
  }
}


@mixin neutral-text-button {
  color: $neutral-200;
  opacity: 0.75;
  @include transition(color 300ms linear, opacity 300ms linear);
  @include icon-align;

  &:hover {
    color: $neutral-100;
    opacity: 1;
  }
}


@mixin primary-button {
  min-height: 3rem;
  padding: 0rem 1.5rem;
  border-radius: 1.5rem;

  text-decoration: none;
  color: $neutral-100;
  background-color: rgba($primary-100, 0.25);

  @include transition(background-color 300ms);
  @include icon-align;

  &:hover {
    background-color: rgba($primary-100, 0.5);
  }
}