@use './colors.module' as colors;

:root {
  font-family: Inter, sans-serif;
  font-feature-settings:
    'liga' 1,
    'calt' 1; /* fix for Chrome */
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  color: colors.$neutral-300;
}
@supports (font-variation-settings: normal) {
  :root {
    font-family: InterVariable, sans-serif;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: colors.$neutral-100;
}

/* For nicer line breaks */
h1 span,
h2 span,
h3 span,
h4 span,
h5 span,
h6 span,
p span {
  display: inline-block;
}

strong {
  color: colors.$neutral-200;
}

a {
  color: colors.$neutral-400;

  &:hover {
    color: colors.$primary-200;
  }
}
