@import './colors.module';

.left-icon {
  height: 1rem;
  min-width: 1rem;
  margin-right: 0.5rem;
}

.right-icon {
  height: 1rem;
  min-width: 1rem;
  margin-left: 0.5rem;
  padding: 0;
}

hr {
  color: $neutral-700;
}

li {
  margin: 1rem 0;
}