@use './colors.module' as colors;

.left-icon {
  height: 1rem;
  min-width: 1rem;
  margin-right: 0.5rem;
}

.right-icon {
  height: 1rem;
  min-width: 1rem;
  margin-left: 0.5rem;
  padding: 0;
}

hr {
  color: colors.$neutral-700;
}

li {
  margin: 1rem 0;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 100;
  }
}

.animate-fade-in-3s {
  animation: fade-in 3s;
}
