@import '../style/colors.module';

.frosted-card {
  border: solid 1px rgb(255, 255, 255, .15);
  background-color: rgba($neutral-500, .15);
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  padding: 1rem 2rem;
  margin: 1rem;
  border-radius: 0.5rem;
}