@use '../style/colors.module' as colors;

.frosted-card {
  border: solid 1px rgb(255, 255, 255, .15);
  background-color: rgba(colors.$neutral-500, .15);
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  padding: 1rem 2rem;
  margin: 1rem;
  border-radius: 0.5rem;
}

@media (max-width: 500px) {
  .frosted-card {
    padding: 0.5rem 1rem;
    margin: 1rem 0.5rem;
  }
}