@use '../style/colors.module' as colors;
@use '../style/common.module' as common;

.toggle-switch-container {
  margin: 0.5rem;
  width: 3rem;
  height: 1.5rem;
  border: solid 0.1rem;
  border-radius: 0.85rem;
  background-color: colors.$neutral-500;
  border-color: colors.$neutral-500;
  display: flex;
  align-items: center;

  @include common.transition(transform 300ms linear, background-color 300ms linear);
}

.toggle-switch-container-on {
  background-color: colors.$accent-500;
  border-color: colors.$accent-500;
}

.toggle-switch-ball {
  background-color: colors.$neutral-100;
  height: 1.5rem;
  width: 1.5rem;
  border-radius: 0.75rem;
  transition: all 300ms;
}

.toggle-switch-ball-on {
  transform: translateX(1.5rem);
}