.work-experience-instance-container {
  display: flex;
  flex-direction: row;
}

.work-experience-instance-date-loc {
  flex: 1;
}

.work-experience-instance-content {
  flex: 3;
}

@media (max-width: 850px) {
  .work-experience-instance-container {
    flex-direction: column;
  }
}