html {
  min-width: 299px;
}

/* CSS */
:root {
  font-family: Inter, sans-serif;
  font-feature-settings: 'liga' 1, 'calt' 1;
  /* fix for Chrome */
  box-sizing: border-box;
  display: block;
  font-size: 16px;
  color: rgb(200, 200, 200);
}

@supports (font-variation-settings: normal) {
  :root {
    font-family: InterVariable, sans-serif;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
  color: white;
}

p {
  margin: 0;
  padding: 0;
}

/* For nicer line breaks */
h1 span,
h2 span,
h3 span,
h4 span,
h5 span,
h6 span,
p span {
  display: inline-block;
}

.frosted {
  border: solid 1px rgb(255, 255, 255, .15);
  background-color: rgba(128, 128, 128, .15);
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
}

.spaced {
  padding: 2rem;
  margin: 1rem;
}

.card {
  display: block;
  border-radius: 0.5rem;
}

.large-link,
.large-button {
  background-color: rgba(134, 187, 189, 0.25);
  color: inherit;
  text-decoration: none;
  padding: 0 1rem;
  height: 3rem;
  border-radius: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  width: fit-content;
  -webkit-transition: all 300ms linear;
  -ms-transition: all 300ms linear;
  transition: all 300ms linear;
}

.large-button {
  border: none
}

.large-link:hover,
.large-button:hover {
  background-color: rgba(134, 187, 189, 0.5);
}


.right-icon {
  margin-left: 0.5rem;
}

.left-icon {
  margin-right: 0.5rem;
}

.input-field,
.text-field {
  width: 100%;
  padding: 0.5rem;
  margin: 1rem 0;
  background-color: rgba(255, 255, 255, 0.1);
  border: solid 1px rgb(255, 255, 255, .15);
  color: white;
  border-radius: 0.5rem;
}

.text-field {
  resize: vertical;
}