@import '../../style/colors.module';

body {
  background-color: $primary-900;
}

#background-container {
  position: relative;
}

#background-gradient {
  background-image: linear-gradient($primary-500, $primary-900);
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
}

#background-particle-config-container {
  position: absolute;
  opacity: 0.25;
  left: 1em;
  top: 0rem;
  display: flex;
  align-items: center;
  -webkit-transition: all 300ms linear;
  -ms-transition: all 300ms linear;
  transition: all 300ms linear;
}

#background-particle-config-container:hover {
  opacity: 1;
}

#background-content-container {
  position: relative;
  width: 100%;
  min-width: 300px;
  margin-top: 3rem;
}

:root {
  height: fit-content;
  display: block;
}