@use '../../style/colors.module' as colors;
@use '../../style/buttons.module' as buttons;

#bio-icon-links-container {
  display: flex;
  width: fit-content;
  margin-top: 1rem;
}

.bio-icon-links {
  margin-right: 2rem;
  font-size: 2rem;
  text-decoration: none;

  @include buttons.neutral-text-button;
}

#bio-resume-link {
  margin: 1rem 0rem;

  @include buttons.primary-button;
}